# DB Connection
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB=
DATABASE_URL=

# Server
HOST=
PORT=
PROTOCOL=
BASE_URL=

# Authentication
# ACCESS_TOKEN_SECRET_KEY & REFRESH_TOKEN_SECRET_KEY generated using node.js crypto module with randomBytes(64).toString('hex')
# Make sure ACCESS & REFRESH tokens are different
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
